<footer class="footer">
  <div class="container">
    <div class="footer-sections">
      <div class="row">
        <section class="column-small-6 footer-sections-element">
          <h1 class="footer-sections-element-heading">
            #{{ site.hashtag }}
          </h1>
          <div class="footer-sections-element-description">
            Tweet <a href="https://twitter.com/nstokyoview" target="_blank">@NSTokyoView</a> or use hashtag <a href="https://twitter.com/search?q=%23{{ site.hashtag }}" target="_blank">#{{ site.hashtag }}</a> to give us your comments, suggestions, and feedback.
          </div>
          <div class="footer-twitter">
            <a class="twitter-share-button" href="https://twitter.com/intent/tweet?hashtags={{ site.hashtag }}&url={{ site.github.url }}">
              Tweet
            </a>
          </div>
        </section>
        <section class="column-small-6 footer-sections-element">
          <h1 class="footer-sections-element-heading">
            Subscribe
          </h1>
          <div class="footer-sections-element-description">
            We're on all your favorite podcast apps.
          </div>
          <div class="row footer-subscribe">
            {% if site.itunes_podcast_url %}
              <div class="column-small">
                <ul>
                  <li>
                    <a href="{{ site.itunes_podcast_url }}" target="_blank">
                      <img src="{{ "/images/badge-apple.svg" | prepend:site.github.url }}" height="40px" >
                    </a>
                  </li>
                  <li>
                    <a href="https://overcast.fm/itunes{{ site.itunes_podcast_id }}" target="_blank">
                      <img src="{{ "/images/badge-overcast.svg" | prepend:site.github.url }}" height="40px">
                    </a>
                  </li>
                </ul>
              </div>
            {% endif %}
            <div class="column-small">
              <ul>
                <li>
                  <a href="{{ site.github.url }}/feed.xml" target="_blank">
                    <img src="{{ "/images/badge-rss.svg" | prepend:site.github.url }}" height="40px">
                  </a>
                </li>
                <li>
                  <a href="{{ site.github.url }}/feed.xml" target="_blank">
                    <img src="{{ "/images/badge-google.svg" | prepend:site.github.url }}" height="40px">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="footer-copyright">
      © {{ 'now' | date: "%Y" }} <a href="{{ site.github.url }}/">{{ site.title }}</a>
    </div>
  </div>
</footer>
<script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/2.23.4/mediaelement-and-player.min.js"></script>
