.header {
  background-image: url(../images/header-background.svg);
  background-size: cover;
  background-position: center;
  padding-bottom: 50px;
  padding-top: 50px;

  &-logo {
    height: 120px;
    padding-right: 24px;

    &-container {
      float: left;

      @media (max-width: $width-screen-tiny-maximum) {
        text-align: center;
        float: inherit;
      }
    }
  }

  &-description {
    color: $color-text-dark-secondary;
    font-size: 0.9rem;
    font-weight: 400;

    @media (max-width: $width-screen-tiny-maximum) {
      text-align: center;
    }
  }

  &-heading {
    color: $color-text-dark-primary;
    font-size: 3rem;
    font-weight: 500;

    a {
      &,
      &:active,
      &:focus,
      &:hover {
        color: inherit;
      }
    }

    @media (max-width: $width-screen-tiny-maximum) {
      text-align: center;
    }
  }
}
